@charset "UTF-8";
/* CSS Document */

*{
    margin: 0;
}
nav {
    width: 100%;
    background-color: black;
    height: 65px;
    font-size: 20px;
    text-align: center;
}
 nav p{
    display: inline-block;
    padding: 0 100px;
    line-height: 65px;

 }
 nav a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
 }
  a:link {
    color: white;
  }
	
    a:visited {
        color: yellow;
    }
    a:hover {
        color: red;

    }
    a:active {
        color: black;
    }

.map{
    padding-left: 20px;
    
}

.coverphoto img {
    width: 100%;
}

.fourm {
    font-family: 'Open Sans', sans-serif; 
    font-size: 20px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    height: 10em;
    width: 50em;
}
.paragraphtextt {
    font-family: 'Open Sans', sans-serif;
    width: 40%;
    margin: auto;
    padding-top: 7%;
    line-height: 1.3em;
    padding-bottom: 4%;

}


.paragraphtext {
    font-family: 'Open Sans', sans-serif;
    width: 40%;
    margin: auto;
    padding-top: 2%;
    line-height: 1.3em;
    padding-bottom: 4%;

}

fieldset {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #c6be89;
}


.nxmap {
height: 3em;
width: 50em;
float: left;
padding-left: 20px;
font-family: 'Open Sans', sans-serif;
}

.line {
    padding: 50px;
    border-bottom: none;

}

.walk {

}

.post-container {
    margin: 20px 20px 0 0;  
    overflow: auto;
padding-left: 5%;
font-size: 20px;

}

.surfimage {
    float: right;
}

.surfimage img {
display: block;
width: 40%;
margin: auto;
padding-top: 3%;
}

.surfthings {
    margin-left: 450px;
font-family: 'Assistant', sans-serif;

}

.surfspot {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 200%;
    padding-left: 4%;
}






