@charset "UTF-8";
/* CSS Document */

*{
    margin: 0;
}
nav {
    width: 100%;
    background-color: black;
    height: 65px;
    font-size: 20px;
    text-align: center;
}
 nav p{
    display: inline-block;
    padding: 0 100px;
    line-height: 65px;

 }
 nav a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
 }
  a:link {
    color: white;
  }
	
    a:visited {
        color: yellow;
    }
    a:hover {
        color: red;

    }
    a:active {
        color: black;
    }
.map{
    float: left;
    content: clear;
    
}
.info section {

	float: left;
}

.coverphoto img {
    width: 100%;
}

.fourm {
    font-family: 'Roboto', sans-serif; 
    text font-size: 30px;
}