@charset "UTF-8";
/* CSS Document */

.topnav {
    display: none;
    margin: 20px;
    padding: 40px;
    font-size: 20px;
    font-style: 250;
    align-content: center;
    text-align: center;
    display: inline-block;
    float: left;
}

	
.map{
    float: left;
    content: clear;
    
}
.info section {
	float: left;
}

.cover photo {
    margin: 50px auto;
    padding: 50px;
    
}